h1 {
	font-weight: bold;
	text-align: left;
}
.GPS {
	fill-opacity: 0.5;
	color: black;
}
.cat {
	fill: green;
} 
.dom {
	fill: orange;
}
.house {
	fill: blue;
}
.prof {
	fill: red;
}
.other {
	fill: purple;
}